n8n-automations/base_pece_automation.json
{
  "name": "base-pece-automation",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "endpoint": "http://nginx/v1",
        "query": "=query essay {\n  peceEssay (id: {{$node[\"PECE Essay Created\"].json[\"body\"][0][\"value\"]}}) {\n   id\n   title \n  }\n}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Get Authentication Token\"].json[\"stdout\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "GraphQL",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        610,
        490
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "savepeceessay",
        "options": {}
      },
      "name": "PECE Essay Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        190,
        490
      ]
    },
    {
      "parameters": {
        "command": "python /root/.pece/peceTokenLogin.py"
      },
      "name": "Get Authentication Token",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        410,
        490
      ]
    }
  ],
  "connections": {
    "PECE Essay Created": {
      "main": [
        [
          {
            "node": "Get Authentication Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Authentication Token": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "4"
}
